@using Employee.Entities;
@model Employee
@{
    ViewData["Title"] = "ویرایش پرسنل ";
}
<div class="content-header row">
    <div class="content-header-left col-12 my-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left">@ViewData["Title"] @Model.FirstName @Model.LastName</h5>
                <div class="breadcrumb-wrapper ">
                    <ol class="breadcrumb p-0 pl-1 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Employee" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active">
                            @ViewData["Title"]
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="col-md-8">
    <form asp-action="Edit" asp-controller="Employee" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" type="text" class="form-control" />
            <span asp-validation-for="FirstName" class="invalid-feedback"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" type="text" class="form-control" />
            <span asp-validation-for="LastName" class="invalid-feedback"></span>
        </div>

        <div class="form-group">
            <label asp-for="FatherName" class="control-label"></label>
            <input asp-for="FatherName" type="text" class="form-control" />
            <span asp-validation-for="FatherName" class="invalid-feedback"></span>
        </div>

        <div class="form-group">
            <label asp-for="NationalCode" class="control-label"></label>
            <input asp-for="NationalCode" type="number" class="form-control" />
            <span asp-validation-for="NationalCode" class="invalid-feedback"></span>
        </div>

        <div class="form-group">
            <label asp-for="BirthDate" class="control-label"></label>
            <input type="text" value="@Model.BirthDate.ToPersianDate()" class="form-control shamsi-datepicker" asp-for="BirthDate">
            <span asp-validation-for="BirthDate" class="invalid-feedback"></span>

        </div>

        <div class="form-group">
            <label asp-for="PersonalCode" class="control-label"></label>
            <input asp-for="PersonalCode" type="number" class="form-control" />
            <span asp-validation-for="PersonalCode" class="invalid-feedback"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" type="number" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="invalid-feedback"></span>
        </div>

        
        <div class="form-group">
            <label class="control-label">متاهل میباشد</label>
            <input asp-for="IsEngage" type="checkbox" />
            <span asp-validation-for="IsEngage" class="invalid-feedback"></span>
        </div>

        <div class="form-group">
            <label asp-for="MahaleSodoreShenasname" class="control-label"></label>
            <input asp-for="MahaleSodoreShenasname" type="text" class="form-control" />
            <span asp-validation-for="MahaleSodoreShenasname" class="invalid-feedback"></span>
        </div>

        <div class="form-group">
            <label asp-for="Type" class="control-label"></label>
            <select asp-for="Type" class="form-control">
                <option value="قراردادی">قراردادی</option>
                <option value="پایور">پایور</option>
                <option value="خرید خدمت">خرید خدمت</option>
            </select>
            <span asp-validation-for="Type" class="invalid-feedback"></span>
        </div>


        <div class="form-group">
            <label asp-for="EmployedDateTime" class="control-label"></label>
            <input type="text" value="@Model.EmployedDateTime.ToPersianDate()" class="form-control shamsi-datepicker" asp-for="EmployedDateTime">
            <span asp-validation-for="EmployedDateTime" class="invalid-feedback"></span>
        </div>

        <div class="form-group">
            <label asp-for="TedadAeleBaEhtesabSarparast" class="control-label"></label>
            <input asp-for="TedadAeleBaEhtesabSarparast" type="number" class="form-control" />
            <span asp-validation-for="TedadAeleBaEhtesabSarparast" class="invalid-feedback"></span>
        </div>

        <div class="form-group">
            <label class="control-label">درجه</label>
            <select asp-for="GradeId" asp-items="ViewBag.Grades" class="form-control"></select>
            <span asp-validation-for="GradeId" class="invalid-feedback"></span>
        </div>

        <div class="form-group">
            <label asp-for="PostCode" class="control-label"></label>
            <input asp-for="PostCode" type="text" class="form-control" />
            <span asp-validation-for="PostCode" class="invalid-feedback"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <textarea asp-for="Address" class="form-control"></textarea>
            <span asp-validation-for="Address" class="invalid-feedback"></span>
        </div>


        <div class="form-group">
            <button class="btn btn-warning btn-block">ویرایش</button>
        </div>
    </form>
</div>

